<?xml version="1.0"?>
<!--
/**
 * Dadolun ThemeLayoutBlock
 *
 * @package   Dadolun_ThemeLayoutBlock
 * @author    Dadolun
 * @copyright Copyright (c) 2021 dadolun@gmail.com (https://github.com/dadolun95)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="adminhtml">
            <module name="Dadolun_ThemeLayoutBlock" />
        </route>
        <route id="themelayout" frontName="themelayout">
            <module name="Dadolun_ThemeLayoutBlock" />
        </route>
    </router>
</config>
